<div class="row-fluid">
  <create-new-exercise (exerciseCreated)="onExerciseCreated()"></create-new-exercise>
</div>

<div class="row-fluid">
  <div class="col-xs-6 panel panel-default">
    <ul class="nav nav-pills nav-stacked" [dragula]='"first-bag"' [dragulaModel]='libraryExercises' style="min-height: 200px">
      <li role="presentation" *ngFor="let exercise of libraryExercises"
          [class.active]="exercise === selectedExercise"
          [attr.data-exercise-id]="exercise._id">
        <a (click)="onSelect(exercise)">{{exercise.title}}
          <span *ngIf="exercise.executions" class="badge">{{exercise.executions.length}}</span>
        </a>

      </li>
    </ul>
  </div>
  <div class="col-xs-6 panel panel-default">
    <ul class="nav nav-pills nav-stacked" [dragula]='"first-bag"' [dragulaModel]='practiceExercises'
        style="min-height: 200px">
      <li role="presentation" *ngFor="let practiceExercise of practiceExercises"
          [class.active]="practiceExercise === selectedExercise"
          [attr.data-exercise-id]="practiceExercise._id">
        <a (click)="onSelect(practiceExercise)">{{practiceExercise.title}}
          <span *ngIf="practiceExercise.executions" class="badge">{{practiceExercise.executions.length}}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
