<div class="row-fluid" [dragula]='"first-bag"' [dragulaModel]='libraryExercises'>
  <div *ngFor="let exercise of libraryExercises"
       [class.selected]="exercise === selectedExercise"
       (click)="onSelect(exercise)" [attr.data-exercise-id]="exercise._id">
    {{exercise.title}}
  </div>
</div>
<div>

  <div class="panel panel-default" [dragula]='"first-bag"' [dragulaModel]='practiceExercises'>
    <div *ngFor="let practiceExercise of practiceExercises"
         [attr.data-exercise-id]="practiceExercise._id"
    >
      {{practiceExercise.title}}
    </div>
  </div>
</div>
