<audio-player [audioFiles]="exercise.attachments | fileFilter: 'Audio'"></audio-player>

<div *ngFor="let attachment of exercise.attachments |  fileFilter: 'Others'">
  <div class="panel panel-default">
    <div class="panel-body">
      <h4>{{attachment.name}}</h4>

      <div class="container-fluid">
        <div class="row">
          <div class="btn-group col-md-2" role="group">
            <div class="btn btn-default">
              <a [attr.href]="'/attachments/' + attachment.content"
                 [attr.download]="attachment.name">
                <div class="glyphicon glyphicon-download"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
