<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-4">
        <div class="row-fluid">
        <create-new-exercise (exerciseCreated)="onExerciseCreated()"></create-new-exercise>
      </div>
      <div class="row-fluid">
        <ul>
          <li *ngFor="let exercise of exercises"
              [class.selected]="exercise === selectedExercise"
              (click)="onSelect(exercise)">
            {{exercise.title}}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-8">
      <manage-detail [exercise]="selectedExercise"></manage-detail>
    </div>
  </div>
</div>
