<form (ngSubmit)="onSubmit()" #exerciseForm="ngForm" class="form-inline" style="padding: 0px; margin-bottom: 10px">
  <div class="form-group">

    <input type="text" class="form-control" required placeholder="Title"
           [(ngModel)]="newExercise.title"
           ngControl="name" #name="ngForm">

    <select class="form-control" [(ngModel)]="newExercise.type" required class="form-control">
      <option *ngFor="let type of types">{{type}}</option>
    </select>

    <button type="submit" class="btn btn-default" [disabled]="!exerciseForm.form.valid">
      <div class="glyphicon glyphicon-plus"></div>
    </button>
  </div>
</form>
