<div *ngFor="let attachment of exercise.attachments">
  <div class="panel panel-default" [hidden] ="attachment.deleted">
    <div class="panel-body">
      <h4>{{attachment.name}}</h4>
      <div class="container-fluid">
        <div class="row">
          <div class="btn-group col-md-2" role="group">
            <div class="btn btn-default">
              <a [attr.href]="'/attachments/' + attachment.content"
                 [attr.download]="attachment.name">
                <div class="glyphicon glyphicon-download"></div>
              </a>
            </div>
            <div class="btn btn-default" (click)="deleteAttachment(attachment)">
              <div class="glyphicon glyphicon-remove"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
