<div *ngIf="exercise" class="row">
  <exercise-editor *ngIf="editMode" [exercise]="exercise" (exerciseUpdated)="editMode=false"></exercise-editor>
  <div>
    <exercise-view [exercise]="exercise"></exercise-view>
    <button *ngIf="!editMode" class="btn btn-default" (click)="editMode=true">Edit</button>
  </div>

  <table *ngIf="!editMode" class="table">
    <tr *ngFor="let exerciseExecution of exercise.executions">
      <td>{{exerciseExecution.date}}</td>
      <td>
        <div *ngIf="exerciseExecution.personalPerformanceRating > 0" class="glyphicon glyphicon-star"></div>
        <div *ngIf="exerciseExecution.personalPerformanceRating > 1" class="glyphicon glyphicon-star"></div>
      </td>
    </tr>
  </table>
</div>
