<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-6 col-sm-3">
      <execute-focus-list *ngIf="practiceFocus"
                          [selectedExercise]="selectedExercise"
                          [exercises]="practiceFocus.exercises"
                          (exerciseSelected)="onExerciseSelect($event)"></execute-focus-list>
    </div>
    <div class="col-xs-6 col-sm-9">
      <execute-exercise [exercise]="selectedExercise"
                        (exerciseExecuted)="onExerciseExecuted($event)"></execute-exercise>
    </div>
  </div>
</div>
